@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* { padding: 0; margin: 0; }

body {
  background-color: #DC4772;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif;
}

#header-container {
  display: inline-block;
  width: 159px;
  margin: auto;
  letter-spacing: 7;
  text-decoration: none;
}
#header-container h1{
  padding: 5px;
  font-size: 30px;
  padding-left: 10px;
}

#state-playing {
  margin: 15px auto;
  padding: 10px;
  text-align: center;
  z-index: 2;
}
#state-playing-content {
  display: inline-block;
  background-color: black;
  color: #DC4772;
  padding: 10px;
  border-radius: 5px;
}
#state-playing-content.clickable {
  cursor: pointer;
}

#state-description {
  position: fixed;
  pointer-events: none;
  color: black;
  background-color: #fff;
  opacity: 0.7;
  width: calc(100% - 159px);
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 15px;

  z-index: 3;
  width: 450px;
  -webkit-transition: 150ms;
  transition: 150ms;
}

#map-container {
  padding: 0 3%;
}

#state-plays {
  padding: 40px 15px calc(100vh - 80px) 15px;
  font-size: 30px;
}

.state-play {
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 5px;
  z-index: -2
}
.state-play:hover {
  background-color: black;
  color: #DC4772;
  z-index: 2;
}

.state {
  cursor: pointer;
}

.state:hover {
  fill: #333;
}

.state:active {
  fill: #733;
}

footer {
  text-align: right;
  height: 80px;
  font-size: 20px;
  padding: 5px;
}

footer a {
  color: white;
}

footer a:hover {
  background-color: black;
}
